<%- layout("/layouts/boilerplate") %>


    <div class="bg-light">

        <div class="jumbotron text-center jumboback">
            <div class="jumbotron-title">- Our Mission -</div>
            <p class="lead text-white">We provide the most efficient and high quality transportation services.</p>
        </div>
    </div>